@import '../../styles/shared.scss';

.Root {
  height: 100%;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  > .TitleWrapper {
    position: absolute;

    > h1 {
      font-size: 80px;
    }

    > a {
      color: #c50;
      transition: color 377ms ease-in-out;
    }

    > a:hover {
      color: wheat;
    }
  }

  > .StarWrapper {
    width: 100%;
    height: 100%;
    position: relative;

    > .Star {
      width: 25px;
      height: 25px;
      position: absolute;
      border-radius: 50%;
      background: lawngreen;
      box-shadow: 0 0 15px 0 $white;
    }
  }
}
