@import '../../styles/shared.scss';

.Scenario {
  height: 100%;
  display: flex;

  > .background_wrapper {
    width: 80%;
    height: 100%;
    position: relative;

    > .background {
      height: 450px;
      height: 100%;
    }

    > .scenarioText {
      position: absolute;
      background: black;
      opacity: 0.4;
      display: flex;
      flex-direction: column;
      top: px(150);
      transform: translate(0, -50%);
      left: px(50);
      right: px(50);
      text-align: left;
      font-size: px(20);
      min-height: px(100);
      color: white;
      padding: px(10);
    }
  }

  > .choices_wrapper {
    width: 20%;
    min-width: 300px;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
  }
}
